:host {
    display: none;
    font-size: medium;
    max-width: 80vw;
}

img {
    width: 50%;
    border-radius: 50%;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    width: 100%;
    font-size: 1.5em;
    padding: 12px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background: #1abc9d;
    cursor: pointer;
    color: #fff;
    border: 0;
    transition: background 0.3s ease;
}

button:hover {
    background: #09cca6;
}